In [2]:
##Python Programming

print("Hello WOrld!")

Hello WOrld!

In [3]:
#Printing Name using variable

name = "Daripineni Teja"
print(name)

Daripineni Teja

In [4]:
#printing Numbers

num = 9
print(num)

9

In [5]:
#Printing Sentence

Sen = "I am Daripineni Teja"
print(Sen)

I am Daripineni Teja

**Using # for Commenting the Line it wont get Executed**


# Variables

In [6]:
name = "Daripineni Teja"  #Variable - name
print(name)

Daripineni Teja

In [7]:
number = 8352  #Variable - number
print(number)

8352

In [8]:
boolean = True  #Variable - boolean
print(boolean)

True

In [9]:
_a = "Teja"
print(_a)

Teja

**We can start  writing variable with _(Underscore ) or Alphabets and should not start with any other Special Characters and numbers**

# Data Types

In [10]:
Name = "Daripineni Teja"  #String
print(Name)
print(type(Name))

Daripineni Teja
<class 'str'>

In [11]:
Num = 8352  #int
print(Num)
print(type(Num))

8352
<class 'int'>

In [12]:
float_num = 390.9 #float
print(float_num)
print(type(float_num))

390.9
<class 'float'>

In [13]:
ch = 'D'
print(ch)
print(type(ch))

D
<class 'str'>

In [14]:
boolean1 = True  #boolean
boolean2 = False #boolean
print(boolean1)
print(boolean2)
print(type(boolean1))
print(type(boolean2))

#Python is Case Sensitive Handle with care

True
False
<class 'bool'>
<class 'bool'>

**Conditional Statements**

**1.If**

**2.Else**

**3.If-Else**

**4.If-Elif-Else**

**5.Nested If**

In [15]:
a = 20
if  a==20:    #if Statement
    print("A is:",a)

A is: 20

In [16]:
a = 2
if a>20:
    print(a)      ##Nested if-else Statement
    if a%3==0:
        print(a)
else:
    print("Error")

Error

In [17]:
num = 92
if num%3 == 0:
    print(num)   ###if-else Statement
else:
    print("Invalid")

Invalid

In [18]:
a = 25
b = 333
if (a%2==0 & b%3==0):
     print("A is Even B is Odd")
elif (b%2==0 & a%3==0):                #if-elif-else Statement
    print("A is Odd B is Even")
else:
    print("Both are Same")

Both are Same

**We will Use PEMDAS Rule in Python as BODMAS Rule in Maths**

# Data Structure

1.List

2.Tuples

3.sets

4.Dictionaries

# LIST

1.List is Type of Data Structures.

2.In List we can Access the Elements by using Index Number.

3.It is Mutable.

4.We can add or delete element from list.

5.List is Enclosed wiith[]

In [19]:
list1 = ["Teja","Daripineni",21]    #List Declaration
print(list1)

['Teja', 'Daripineni', 21]

In [20]:
mylist = ["Teja","Aravind","Daripineni"]
print(mylist)

['Teja', 'Aravind', 'Daripineni']

In [21]:
len(mylist)

3

In [22]:
len(list1)

3

In [23]:
print(type(list1))
print(type(mylist))

<class 'list'>
<class 'list'>

In [24]:
thislist = list(("Aravind","Teja","Daripineni",21,24)) #Declaring list using constructor
print(thislist)

['Aravind', 'Teja', 'Daripineni', 21, 24]

In [25]:
print(type(thislist))

<class 'list'>

In [26]:
print(list1[-1])  #Accessing elements

21

In [27]:
print(mylist[-2]) #Counting of elements starts from (0 to n-1) Ex:1 element Index is '0' and last element index number is n-1.
                  #We can access the element from last i.e. last element starts from -1,-2 etcc..

Aravind

In [28]:
print(thislist[0:3])

['Aravind', 'Teja', 'Daripineni']

In [29]:
thislist[0] = "Naidu"  #Modifying the Elements
print(thislist)

['Naidu', 'Teja', 'Daripineni', 21, 24]

In [30]:
thislist.append("Tarak") #adding elements
print(thislist)

['Naidu', 'Teja', 'Daripineni', 21, 24, 'Tarak']

In [31]:
thislist.insert(2,"Chowdary") #inserting elements using index value
print(thislist)

['Naidu', 'Teja', 'Chowdary', 'Daripineni', 21, 24, 'Tarak']

In [32]:
thislist.extend(mylist) #combining two  lists using extend function
print(thislist)

['Naidu', 'Teja', 'Chowdary', 'Daripineni', 21, 24, 'Tarak', 'Teja', 'Aravind', 'Daripineni']

In [33]:
thislist.remove("Teja") #Removing element which we want
print(thislist)

['Naidu', 'Chowdary', 'Daripineni', 21, 24, 'Tarak', 'Teja', 'Aravind', 'Daripineni']

In [34]:
thislist.pop()  #last element will be removed

'Daripineni'

In [35]:
thislist.pop(4) #Can delete specifying index

24

In [36]:
thislist.remove('Aravind')
print(thislist)

['Naidu', 'Chowdary', 'Daripineni', 21, 'Tarak', 'Teja']

In [37]:
del thislist  #we delete the declaration of total list
print(thislist)

NameError: name 'thislist' is not defined

In [38]:
mylist.clear() #Here we declare only Elements
print(mylist)

[]

In [39]:
#Lists through Loops

newlist = ["Teja","Aravind","Daripineni",21,24]
for i in newlist:
    print(i)

Teja
Aravind
Daripineni
21
24

In [40]:
for i in range(len(newlist)):
    print(i)

0
1
2
3
4

In [41]:
#Using While Loop

newlist2 = ["Teja","Daripineni","Presidency University"]
i = 0
while i<len(newlist2):
    print(newlist2[i])
    i=i+1

Teja
Daripineni
Presidency University

In [42]:
newlist2.sort() #Arranging in Ascending Order
print(newlist2)

['Daripineni', 'Presidency University', 'Teja']

# Tuple

1.Tuple is Type of Data Structures.

2.In Tuple we can Access the Elements by using Index Number.

3.It is Immutable.

4.We cannot add or delete element from Tuple.

5.Tuple is Enclosed with ().

In [43]:
my_tuple = ("Teja","Daripineni","Daripineni","Aravind")
print(my_tuple)

('Teja', 'Daripineni', 'Daripineni', 'Aravind')

In [44]:
print(type(my_tuple))

<class 'tuple'>

In [45]:
print(len(my_tuple))

4

In [46]:
my_tuple[1] #Accessing

'Daripineni'

In [47]:
my_tuple[-1] #Negative Indexing

'Aravind'

In [48]:
my_tuple.append("Naidu")

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
x = list(my_tuple)
print(x)

['Teja', 'Daripineni', 'Daripineni', 'Aravind']

In [50]:
x.append("Naidu")

In [51]:
print(x)

['Teja', 'Daripineni', 'Daripineni', 'Aravind', 'Naidu']

In [52]:
a = tuple(x)
print(x)

['Teja', 'Daripineni', 'Daripineni', 'Aravind', 'Naidu']

# SETS

1.Set items are unordered, unchangeable, and do not allow duplicate values.

2.Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

3.Set items are unchangeable, meaning that we cannot change the items after the set has been created.Once a set is created, you cannot change its items, but you can remove items and add new items

In [53]:
myset = {"Teja","Aravind","Daripineni","JAY","JOE","Tarak",25,65,True}
print(myset)

{65, True, 'JOE', 'Tarak', 'JAY', 'Daripineni', 'Aravind', 25, 'Teja'}

In [54]:
for x in myset:
    print(x)

65
True
JOE
Tarak
JAY
Daripineni
Aravind
25
Teja

In [55]:
print("JAY" in myset)

True

In [56]:
print("JAY"  not in myset)

False

Once Set is Created you cannot change but you can add elements

In [57]:
#Adding elements to set  function

myset.add("Mango")
print(myset)

{65, True, 'JOE', 'Tarak', 'JAY', 'Mango', 'Daripineni', 'Aravind', 25, 'Teja'}

In [58]:
#Combining two sets using update keyword
set2 = {"Banana","Apple","Grapes"}
myset.update(set2)

In [59]:
print(myset)

{65, True, 'Apple', 'JOE', 'Banana', 'Grapes', 'Tarak', 'JAY', 'Mango', 'Daripineni', 'Aravind', 25, 'Teja'}

In [60]:
set2.remove("Hass") #If the item to remove does not exist, remove() will raise an error.

KeyError: 'Hass'

In [61]:
set2.discard("hass") # If the item to remove does not exist, discard() will NOT raise an error.

Remaining Functions will follow as list functions

**JOIN SETS**

In [62]:
set1 = {"A","B","C","D"}
set2 = {"E","F","G","H"}

set3 = set1.union(set2)  #Union Function
print(set3)

{'F', 'G', 'H', 'E', 'A', 'C', 'D', 'B'}

In [63]:
set1 = {"A","B","C","D"}
set2 = {"E","F","G","H"}

set3 = set1|set2   #another type  of Union function
print(set3)

{'F', 'G', 'H', 'E', 'A', 'C', 'D', 'B'}

In [64]:
set4 = {"A","B","C","D"}
set5 = {"A","B","C","E"}

set6 = set4.intersection(set5)#intersection Function
print(set6)

{'C', 'B', 'A'}

In [65]:
set4 = {"A","B","C","D"}
set5 = {"A","B","C","E"}

set6 = set4&set5 # another intersection Function
print(set6)

{'C', 'B', 'A'}

In [66]:
#Joining multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'b', 'c', 'bananas', 'cherry', 'a', 'Elena'}

In [67]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'b', 'c', 'bananas', 'cherry', 'a', 'Elena'}

In [68]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2) #difference() method

print(set3)

{'banana', 'cherry'}

In [69]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1-set2

print(set3)

{'banana', 'cherry'}

# Dictionaries

1.Dictionaries are used to store data values in key:value pairs.

2.A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

3.Dictionaries are enclosed with {}.

4.Dictionary items are ordered, changeable, and do not allow duplicates.

5.Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [70]:
thisdict = {
  "name": "TEJA",
  "age": 21,
  "class": "B.tech"
}
print(thisdict)

{'name': 'TEJA', 'age': 21, 'class': 'B.tech'}

In [71]:
print(thisdict['class'])

B.tech

In [72]:
print(len(thisdict))

3

In [73]:
print(type(thisdict))

<class 'dict'>